<section class="container">
  <div>
    <h3>Productos</h3>
    {{#each products}}
    <hr>
    <div class="card" style="width: 18rem;">
      <img src="{{this.thumbnail}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">${{this.price}}</p>
      </div>
    </div>
    <hr>
    {{/each}}
  </div>
</section>